@charset "utf-8";
.tt-suggestion.tt-cursor {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e8e8e8;
  cursor: pointer;
}
.nothing-new {
  padding: 10px 20px 40px 20px;
  display: none;
  font-size: 120% ! important;
  color: rgba(0, 0, 0, 0.54) ! important;
}
.nav-link {
  cursor: pointer;
}
.dropdown-menu-list .middle-priority {
  background: #fef4e6 ! important;
}
.dropdown-menu-list .high-priority {
  background: #fcd49b ! important;
}
.page-container.horizontal-menu header.navbar ul.nav > li.menu-list {
  padding-top: 3px;
}
.page-container.horizontal-menu header.navbar ul.nav > li.dropdown .dropdown-menu > li > ul > li > a:hover {
  background-color: transparent ! important;
}
.page-container.horizontal-menu header.navbar.navbar-fixed-top {
  height: 60px ! important;
  background-color: #3a4a52;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom-color: #3a4a52;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  color: #333;
  left: 0;
  line-height: 1.7rem;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  vertical-align: baseline;
  z-index: 1032;
}
.page-container.horizontal-menu header.navbar.navbar-fixed-top .navbar-brand-as-front {
  margin-top: 2px ! important;
}
.page-container.horizontal-menu header.navbar .navbar-nav {
  margin-left: 12px;
}
.navbar-inner {
  width: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3a4a52;
  border-bottom-color: #3a4a52;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  display: flex;
  color: #333;
  left: 0;
  line-height: 1.7rem;
  margin: 0;
  height: 60px;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  vertical-align: baseline;
  z-index: 1032;
}
.navbar-sidemenu-collapsed {
  float: left;
  height: 100%;
  width: 48px;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  padding-left: 28px;
  padding-top: 2px;
}
.page-container.horizontal-menu header.navbar ul.nav > li > a i,
.page-container.horizontal-menu header.navbar ul.nav > li > span i {
  cursor: pointer;
  font-size: 2rem;
  padding: 0 0px;
}
.page-container.horizontal-menu header.navbar ul.nav > li > a,
.page-container.horizontal-menu header.navbar ul.nav > li > span {
  font-size: 18px ! important;
  font-family: "メイリオ";
  margin: 0px ! important;
  border: 0px;
  padding: 0px;
  line-height: 58px;
}
#global-brand {
  float: left;
  padding-left: 16px;
  height: 100%;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.global-brand-img {
  width: 112px;
  margin-right: 16px;
}
div.navbar-left {
  width: 348px;
  height: 60px;
  display: flex;
}
div.navbar-right {
  justify-content: flex-end;
  -webkit-box-pack: end;
  width: 255px;
  height: 60px;
  display: flex;
}
.global-search-box {
  height: 60px;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  position: relative;
}
.global-search-box-container {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.global-search-box-back-button {
  position: absolute;
  left: -348px;
  top: 0;
  display: none;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 100%;
  width: 348px;
  padding: 14px 32px;
  background-color: #d0d0d0;
}
.wap-button {
  display: inline-block;
}
.global-search-box-icon {
  padding: 0 16px 1px 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-clip: padding-box;
  background-color: #3a4a52;
  width: 48px;
  height: 40px;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #bdbdbd;
  border: none;
  cursor: pointer;
  transition: all .4s ease;
  position: absolute;
  right: -15.8px;
  top: 11px;
}
.global-search-box-expanded .global-search-box-input {
  width: 100%;
}
:focus,
:active {
  outline: none;
}
.global-search-box-active .global-search-box-input {
  background-color: #fff;
}
.global-search-box-input {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.16);
  border: 0;
  height: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-clip: padding-box;
  transition: all .4s ease;
  width: 0;
}
.global-search-box-clear {
  position: absolute;
  right: 0;
  padding: 12px 8px;
  color: #333;
  transition: color .3s ease;
  display: none;
}
.global-search-box-result-area {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(40%);
  background-color: #f1f1f1;
  display: none;
}
.global-search-result-area {
  height: 100%;
  width: 100%;
  padding: 0 348px;
  padding-bottom: 24px;
  overflow-y: auto;
}
.global-search-result-area-suggestions {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
}
.global-search-result-area-back-top-button {
  transition: all .4s ease;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 3rem;
  border: solid #aaa 5px;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 4px 8px;
  cursor: pointer;
  margin: 32px;
  color: #aaa;
  line-height: 0;
}
.global-search-result-area-back-top-button-icon {
  line-height: 1.25;
  font-size: 3.2rem;
}
.global-navi-button-base {
  margin-right: 7px;
  margin-left: 8px;
  line-height: 58px;
  background-color: transparent;
  color: #bdbdbd;
  font-size: 2rem;
  border: none;
  position: relative;
  padding: 5px 0px;
}
#global-navi-profile {
  margin-right: 40px;
  margin-top: 10px;
  margin-left: 5px;
}
#global-navi-profile:hover {
  cursor: pointer;
}
.global-navi-button-base:hover {
  color: #fff;
}
.wap-popover-white {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  left: -248px;
  top: 51px;
}
.wap-popover {
  position: absolute;
  display: inline-table;
  z-index: 1010;
  min-width: 40px;
  min-height: 24px;
  max-width: 560px;
  max-height: 480px;
  text-align: left;
  border-radius: 3px;
  background-clip: padding-box;
  white-space: normal;
  line-height: 19px;
  font-size: 14px;
}
.wap-popover-shown {
  opacity: 1;
}
.wap-popover-arrow {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
}
.wap-popover-arrow-bottom {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  top: -11px;
}
.wap-popover-arrow-bottom-shown {
  left: 270px;
  border-bottom-color: #fff;
  margin-left: -10px;
  border-top-width: 0;
  border-width: 10px;
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -20px;
}
.global-navi-user-info {
  width: 304px;
}
.global-navi-user-info-area {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  height: 120px;
}
.global-navi-user-info-img-outer {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  flex-basis: 112px;
}
.global-navi-user-info-img {
  width: 80px;
  height: 80px;
  margin: 18px 0px 0px 16px;
  border-radius: 50%;
}
.global-navi-user-info-instant {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 16px;
}
.global-navi-user-info-instant-dept {
  margin-top: 16px;
  font-size: 1.2rem;
  color: #7f7f7f;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
}
.global-navi-user-menu {
  padding: 0;
}
.global-navi-user-menu-item {
  display: flex;
  padding: 10px 0px 9px 14px;
  color: #7f7f7f;
  cursor: pointer;
}
.global-navi-user-menu-item:hover {
  background-color: #f1f1f1;
}
.global-navi-user-menu-item-icon {
  margin-right: 13px;
  font-size: 14px;
}
.global-navi-user-menu-item-label {
  font-size: 14px;
  margin-top: 3px;
}
input.global-search-box-input::-webkit-input-placeholder {
  color: #AAAAAA;
}
#icon-menulist {
  color: #d0d0d0;
}
.global-navi-icon {
  color: #bdbdbd;
}
.global-navi-icon:hover {
  color: #ffffff;
}
#global-navi-title {
  color: #d0d0d0;
  font-size: 20px;
  font-family: "メイリオ", Meiryo, sans-serif;
}
.global-navi-user-info-instant-name {
  font-size: 14px;
}
.global-navi-user-logout {
  margin-top: -16px;
}
.nav .open > a {
  background-color: transparent;
}
#global-notification .badge.badge-secondary {
  background-color: #d65071;
  color: #ffffff;
  position: absolute;
  top: 30px;
  left: 19px;
}
