<script id="chat-list-template" type="text/template">

	<div id="chat" class="fixed" data-current-user="{{current_user}}" data-order-by-status="1" data-max-chat-history="25">
		<div class="chat-inner">
			<h2 class="chat-header">
				<a href="#" class="chat-close" data-animate="1"><i class="wap-icon-close"></i></a>
				<i class="wap-icon-bubbles"></i> <%=chat%> <span class="badge badge-success is-hidden">0</span>
			</h2>
			
			{{#chat_group}}
			<div class="chat-group" id="{{group_id}}">
				<strong>{{group_name}}</strong>
				{{#member}}
				<a href="#" id="{{user_id}}" data-conversation-history="{{history_id}}">
					 <span class="user-status {{status}}"></span>
					 <img src="{{user_img}}" alt="" width="26" class="img-circle"> 
					 <em>{{user_name}}</em>
				</a>
				{{/member}}
			</div>
			{{/chat_group}}
		</div>
	
		<!-- conversation template -->
		<div class="chat-conversation">
			<div class="conversation-header">
				<a href="#" class="conversation-close"><i class="wap-icon-close"></i></a>
				<span class="user-status"></span>
				<span class="display-name"></span>
				<small></small>
			</div>
			<ul class="conversation-body"></ul>
			<div class="chat-textarea">
				<textarea class="form-control autogrow" placeholder="<%=type_message%>"></textarea>
			</div>
		</div>
	</div>
	
	<!-- Chat Histories -->
	{{#chat_history}}
	<ul class="chat-history" id="{{history_id}}">
		{{#history}}
		<li {{#opponent}}class="opponent"{{/opponent}}>
			<span class="user">{{user_name}}</span>
			<p>{{data}}</p>
			<span class="time">{{time}} {{status}}</span>
		</li>
		{{/history}}
	</ul>
	{{/chat_history}}

</script>