<!-- <meta charset="utf-8"> -->
<link rel="stylesheet"
href="../global-navigation/css/global-navigation.css">
<link rel="stylesheet" href="../global-navigation/css/global-side-menu.css">
<link rel="stylesheet" href="../global-navigation/css/global-side-menu-contents.css">
<script src="../global-navigation/js/global-navi-side-menu.js"></script>
<script
  src="../global-navigation/js/global-navigation-cf.js"></script>
<div class="navbar-inner">
  <!-- <ul class="nav navbar-sidemenu-collapsed pull-left">-->
    <!-- Search Bar -->
    <!--<li><a href="#" class="sidebar-collapse-icon with-animation"
      data-close-others="true"> <i class="wap-icon-menulist"> </i></a></li>
  </ul>  -->

  <!-- logo -->
  <!--<div class="navbar-brand-as-front" style="  margin-top: 2px;float: left;padding-left: 32px; padding-top: 8px;">
    <a class="nav-link"
      onclick="if(!!window.top){window.top.location = '/company-hue-front/hue/home';}else{window.location = '/company-hue-front/hue/home';}">
      <img src="../../common/images/logo/logo1.png" width="112px" height="32px" alt="" />
    </a>
  </div> -->

 <div class="navbar-left">
  <ul class="nav navbar-sidemenu-collapsed pull-left">
    <!-- Search Bar -->
    <li class="menu-list"><a href="#" class="sidebar-collapse-icon with-animation"
      data-close-others="true"> <i class="wap-icon-menulist" id="icon-menulist"> </i></a></li>
  </ul>
  <div id="global-brand" class="global-brand-wrapper component">
      <a class="nav-link" href="/company-hue-front/hue/home">
      <img class="global-brand-img" alt="hue" src="../../common/images/logo/logo-global-nav.png">
      </a>
  </div>

 </div>


  <!-- main menu -->

<div class="global-search-box component wap-core-ui-globalsearch-globalsearchbox" id="global-search-box" data-expanded="true">
  <div class="global-search-box-container">
    <div class="global-search-box-back-button">
      <div class="wap-button component wap-core-ui-wapbutton  " id="global-search-box-back-button" data-hint-placement="right" data-hint="">
        <button class="wap-button-button wap-button-group-child wap-button-medium  wap-button-default" id="global-search-box-back-button_target" name="global-search-box-back-button" value="">
          <i class="wap-button-left-icon wap-icon-arrow-left"></i>
          <span class=" wap-button-text-left-margin">text.back</span>
        </button>
      </div>
    </div>
    <i class="global-search-box-icon wap-icon-search"></i>
    <input class="global-search-box-input" placeholder="msg.global_search_example">
    <i class="global-search-box-clear wap-icon-cancel"></i>
    <div class="global-search-box-result-area">
      <div id="global-search-box-result-area" class="global-search-result-area component wap-core-ui-globalsearch-globalsearchresultarea">
        <div class="global-search-result-area-suggestions"></div>
        <div class="global-search-result-area-results"></div>
        <div class="global-search-result-area-back-top-button">
        <i class="global-search-result-area-back-top-button-icon wap-icon-arrow-up"></i>
      </div>
    </div>
  </div>
</div>
</div>

  <!--<ul class="navbar-nav">-->
    <!-- Search Bar -->
    <!--<li id="search" class="search-input-collapsed">  -->
      <!-- add class "search-input-collapsed" to auto collapse search input -->
      <!-- <form method="get" action="">
        <input type="text" name="q" class="search-input"
          placeholder="Search in COMPANY" style="height: 48px"/>
        <button type="submit">
          <i class="wap-icon-search"></i>
        </button>
      </form>
    </li>
  </ul> -->

  <!-- notifications and other links -->
   <div class="navbar-right">
  <ul class="nav navbar-right pull-right">
    <li id="global-approval-task" class="global-navi-button-base">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
        data-close-others="true">
        <span class="nav-icon-task" style="display: inline-block;">
          <i class="wap-icon-drawer global-navi-icon"></i>
        </span>
        <span class="badge badge-secondary approval-task-badge"></span>
      </a> <!-- dropdown menu (messages) -->
    </li>
    <li id="global-talk" class="global-navi-button-base">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
        data-close-others="true">
        <span class="nav-icon-talk" style="display: inline-block;">
          <i class="wap-icon-bubble global-navi-icon"></i>
        </span>
        <span class="badge badge-secondary approval-task-badge"></span>
      </a> <!-- dropdown menu (messages) -->
    </li>
    <li id="global-notification" class="global-navi-button-base"><a href="#"
      class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
      data-close-others="true"> <span class="nav-icon-bell"
        style="display: inline-block;"><i class="wap-icon-bell global-navi-icon"></i></span>
        <span class="badge badge-secondary notification-badge">0</span>
    </a> <!-- dropdown menu (messages) -->
      <!--<ul class="dropdown-menu">
        <li class="top">
          <p class="" style="height: 30px;padding: 7px 20px;">
            <a href="#" class="pull-right mark-all-read">すべて既読</a>  -->
            <!--  <strong class="new-cnt">0</strong> 件の新着通知があります  -->
          <!--</p>
        </li>

        <li>
          <ul class="dropdown-menu-list scroller">
            <li class="nothing-new">新着通知はありません</li>
          </ul>
        </li>
        <li class="external">
          <p>
            <a href="#">すべての通知を見る</a>
            <a class="pull-right" href="#">タイムラインで詳細を見る</a>
            <!-- <a href="javascript:$('#new-notification-dialog').modal('show');$('body').append($('#new-notification-dialog'));" class="pull-right">Create New</a> -->
          <!-- </p>

        </li>
      </ul>  -->
    </li>

    <!-- Notification NewTask -->
    <button id="popover-new-task"class="btn btn-default popover-default" data-toggle="popover" data-trigger="click" data-placement="bottom" data-original-title="重要なお知らせ" data-content="新着のタスクが1件あります" style="position: absolute;top: 40px;right: 253px;opacity: 0;width: 0;height: 0;padding: 0;border: none;line-height: 0;"></button>


    <li class="dropdown" style="display:none">
      <i class="wap-icon-bubbles"></i> <span class="badge badge-info chat-notifications-badge chat-hidden"></span>
    </li>

        <li class="dropdown" style="display:none">
           <i class="wap-icon-stack"></i>
        </li>
    <li class="sep" style="margin-left: 0px;height: 32px;margin-top: 8px;border-left: 1px solid #7f7f7f;"></li>

    <!--  <li>
      <a style="font-size: 1.7rem;line-height: 1;padding-right: 0px" id="logout-btn"
       onclick="if('9900' === HUE.UserData.get().loginId ||'8600' === HUE.UserData.get().loginId ||'8300' === HUE.UserData.get().loginId ||'8500' === HUE.UserData.get().loginId ||'8100' === HUE.UserData.get().loginId){if(!!window.top){window.top.location = '/company-hue-mock-front/pages/login/login.html';}else{window.location = '/company-hue-mock-front/pages/login/login.html';}}else if(!!window.top){window.top.location = '/company-hue-front/hue/logout';}else{window.location = '/company-hue-front/hue/logout';}"
       class="nav-link">
        Logout <i class="wap-icon-logout"></i>
    </a></li>-->

    <!-- mobile only -->
    <li class="visible-xs">
      <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->

      <div class="horizontal-mobile-menu visible-xs">
        <a href="#" class="with-animation"> <!-- add class "with-animation" to support animation -->
          <i class="wap-icon-menulist"></i>
        </a>
      </div>

    </li>
    <li id="global-navi-profile">
      <!--<ul class="user-info pull-left pull-none-xsm">  -->
        <!-- Profile Info -->
        <!--<li class="profile-info">  -->
          <!-- add class "pull-right" if you want to place this from right -->

          <img id="nav-user-img" src="" alt=""
            class="img-circle" width="36" height="36">

        <!--</li>  -->
      <!--</ul>  -->
      <div class="wap-popover $css$ component wap-core-ui-wappopover wap-popover-white " style="display:none" id="global-navi-user-popover" data-place="bottom" data-arrow-position="other_end" data-trigger="click" data-update-always="false" data-document-click="true" data-fixed-position="false" data-lazy="server" data-target-id="global-navi-user-img" data-title="" data-message="" data-anchor-message="" data-deferred-url="" data-disable="false">
  <div class="wap-popover-arrow wap-popover-arrow-bottom" id="wap-popover-arrow-bottom-user" style="display:none;border-bottom-color:#ffffff"></div>
  <div class="wap-popover-inner wap-popover-width-none">
    <div id="global-navi-user-info" class="global-navi-user-info">
      <div class="global-navi-user-info-area">
        <div class="global-navi-user-info-img-outer">
          <img class="global-navi-user-info-img" src="">
        </div>
        <div class="global-navi-user-info-instant">
          <div class="global-navi-user-info-instant-name"></div>
          <div class="global-navi-user-info-instant-dept" title=""></div>
        </div>
      </div><hr>
      <ul class="global-navi-user-menu">
        <!--<a href="/hue-ac-expense-front/hue/talent/talentprofile/main?userId=all">  -->
          <li class="global-navi-user-menu-item">
            <i class="global-navi-user-menu-item-icon wap-icon-user"></i>
            <div class="global-navi-user-menu-item-label">プロファイル</div>
          </li>
        <!--<a href="/hue-ac-expense-front/hue/timeline/profile/main">-->
          <li class="global-navi-user-menu-item">
            <i class="global-navi-user-menu-item-icon wap-icon-cog"></i>
            <div class="global-navi-user-menu-item-label">設定</div>
          </li>
       <li id="global-navi-user-feedback" class="global-navi-user-menu-item">
          <i class="global-navi-user-menu-item-icon wap-icon-question-sign"></i>
          <div class="global-navi-user-menu-item-label">フィードバック</div>
        </li>
       <li id="global-navi-user-license" class="global-navi-user-menu-item">
          <i class="global-navi-user-menu-item-icon wap-icon-user"></i>
          <div class="global-navi-user-menu-item-label">ライセンスとバージョン情報</div>
        </li>
      </ul><hr>
      <a class="global-navi-user-logout global-navi-user-menu-item" href="/company-hue-front/hue/logout">
        <i class="global-navi-user-menu-item-icon wap-icon-logout"></i>
        <div class="global-navi-user-menu-item-label">ログアウト</div>
      </a>
    </div>
  </div>
</div>
<div class="wap-dialog wap-core-ui-wapdialog" id="global-navi-user-license-dialog" style="display:none;" data-backdrop="true" data-lazy="server">
  <div class="wap-dialog-div dialog-size-middle">
    <div class="wap-dialog-content">
      <div class="wap-dialog-body"></div>
      <div class="wap-dialog-footer-customization"></div>
    </div>
  </div>
</div>
</div>
 </div>
    </li>

  <!--</ul>-->

     <!--  <div class="global-navi-user-img-outer">
        <img id="global-navi-user-img" class="global-navi-user-img" src="/hue-ac-expense-front/timeline/avatar/small/all/c56b6a70-5df5-11e5-851d-0242ac11000a">
      </div>-->





<div class="modal fade" id="new-notification-dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">新規メッセージを作成</h4>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="field-1" class="control-label">宛先</label> <input type="text" class="form-control" id="field-1"
                                                                           placeholder="受信者">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="field-2" class="control-label">種別</label> <select class="form-control" id="field-2">
              <option value="1">タイプ 1</option>
              <option value="2">タイプ 2</option>
              <option value="3">タイプ 3</option>
              <option value="4">タイプ 4</option>
              <option value="5">タイプ 5</option>
            </select>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="field-4" class="control-label">優先度</label> <select class="form-control" id="field-4">
              <option value="0">低</option>
              <option value="1">中</option>
              <option value="2">高</option>
            </select>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="field-3" class="control-label">件名</label> <input type="text" class="form-control"
                                                                              id="field-3" placeholder="件名">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group no-margin">
              <label for="field-7" class="control-label">内容</label>

              <textarea class="form-control autogrow" id="field-7" placeholder="内容"
                        style="height: 100px; overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
            </div>

          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> 閉じる</button>
        <button type="button" class="btn btn-info">送信</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="urgent-notification-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Important Notification</h4>
            </div>
            <div id="urgent-notification-content" class="modal-body">Sample</div>
            <div class="modal-footer">
                <button id="btn-urgent-notification-ok" type="button" class="btn btn-default" data-dismiss="modal" onclick="">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="global-side-menu-contents" class="global-side-menu-contents component wap-core-ui-header-globalsidemenucontents">
  <div id="global-side-menu-contents-modal" class="global-side-menu-contents-modal"></div>
  <ul id="global-side-menu-contents-list" class="global-side-menu-contents-list wap-core-ui-header-globalsidemenulist" tabindex="-1" data-lazy="server">
    <div class="global-side-menu-contents-list-toggle-area"> <i id="global-side-menu-contents-list-toggle" class="global-side-menu-contents-list-toggle wap-icon-menulist"></i>
      <div class="global-side-menu-contents-list-brand">
        <div class="global-side-menu-contents-list-brand-inner">
          <img width="112" src="/company-hue-front/img/logo/logo-hue-black.png"></div>
      </div>
    </div>
    <li id="global-side-menu-home" class="global-side-menu-contents-list-item wap-icon-home" data-url="/company-hue-front/hue/home">
      <div class="global-side-menu-contents-list-item-label">ホーム</div>
    </li>
    <li id="global-side-menu-menu" class="global-side-menu-contents-list-item wap-icon-th-large" data-url="/company-hue/pages/menu/menu.html">
      <div class="global-side-menu-contents-list-item-label">メニュー</div>
    </li>
    <hr>
    <div class="global-side-menu-contents-list-header">HUE tools</div>
    <li id="global-side-menu-mail" class="global-side-menu-contents-list-item wap-icon-envelope wap-icon-hue-mail" data-url="/company-hue-front/hue/mail/mail/index">
      <div class="global-side-menu-contents-list-item-label">HUE Mail</div>
    </li>
    <li id="global-side-menu-ess" class="global-side-menu-contents-list-item wap-icon-table wap-icon-hue-ess" data-url="/company-hue-front/hue/ess/spreadsheet/main">
      <div class="global-side-menu-contents-list-item-label">ESS</div>
    </li>
    <li id="global-side-menu-drive" class="global-side-menu-contents-list-item wap-icon-cloud wap-icon-hue-drive" data-url="/company-hue-front/hue/filemanager/huedrive/index">
      <div class="global-side-menu-contents-list-item-label">HUE Drive</div>
    </li>
    <hr>
    <div class="global-side-menu-contents-list-header">アプリケーション</div>
  </ul>
</div>

<script id="notification-action-template" type="text/template">

  {{#notify}}
  <li {{#id}}id="{{id}}"{{/id}}class="notify {{#middlePriority}}middle-priority{{/middlePriority}} {{#highPriority}}high-priority{{/highPriority}}">
    <a href="#" onclick="{{link}}">
      <span class="image pull-right">
        {{#user}}
        <img src="{{userimage}}" alt="" class="img-circle" width="44"/>
        {{/user}}
        {{#icon}}
        <div class="icon img-circle alert-warning">
          <i style="font-size: 17px;" class="color-alert {{iconclass}}"></i>
        </div>
        {{/icon}}
      </span>

      <span class="line">
        <strong>{{username}}</strong>
        - {{time}}
      </span>

      <span class="desc small">
        {{text}}
      </span>
    </a>

    {{#reply}}
    <form role="form" class="form-horizontal" style="margin-bottom: 5px;">
        <div class="" data-controller="textField" data-field-id="sample1">
            <input type="text" class="form-control input-sm" placeholder="Reply" style="margin-left: 20px; width: 275px; display:inline-block">
            <button type="button" class="btn btn-default btn-sm" style="margin-right: 10px;">Reply</button>
        </div>
    </form>
    {{/reply}}
    {{#actionButtons}}
    <div style="text-align: right; margin-bottom: 5px; margin-right: 20px;">
      {{#action}}
      <button type="button" class="btn btn-default btn-sm">Accept</button>
      <button type="button" class="btn btn-default btn-sm">Decline</button>
      {{/action}}
      {{#reminderLater}}
      <div class="btn-group">
        <button type="button" class="btn btn-sm dropdown-toggle"
          data-toggle="dropdown-menu" href="javascript:;" onclick="$(this).parent().toggleClass('open');">
            Reminder Later <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="width: 100px; background-color: #dddddd;">
          <li><a href="#">5 Minutes</a></li>
          <li><a href="#">10 Minutes</a></li>
          <li><a href="#">30 Minutes</a></li>
          <li><a href="#">1 Hour</a></li>
          <li><a href="#">2 Hours</a></li>
        </ul>
      </div>
      {{/reminderLater}}
    </div>
    {{/actionButtons}}
    {{#html}}{{{html}}}{{/html}}
  </li>
  {{/notify}}

</script>
