@charset "utf-8";
.animation-fadeout {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.animation-fadeout.animating {
  opacity: 0;
}
.animation-fadein. {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.animation-fadein.animating {
  opacity: 1;
}
.animation-fade-from {
  position: relative;
  opacity: 1;
  z-index: 1;
  -moz-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
.animation-fade-from.animating {
  opacity: 0;
}
.animation-fade-to {
  position: absolute;
  opacity: 0;
  z-index: -1;
  -moz-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
.animation-fade-to.animating {
  position: relative;
  opacity: 1;
  z-index: 2;
}
.animation-slide-left-from,
.animation-slide-right-from {
  position: absolute;
  opacity: 1;
  margin-left: 0;
  transition: all .3s ease;
}
.animation-slide-left-from.animating {
  opacity: 0;
  margin-left: -100%;
}
.animation-slide-right-from.animating {
  opacity: 0;
  margin-left: 100%;
}
.animation-slide-left-to {
  position: relative;
  opacity: 0;
  margin-left: 100%;
  top: 0;
  transition: all .3s ease;
}
.animation-slide-right-to {
  position: relative;
  opacity: 0;
  margin-left: -100%;
  transition: all .3s ease;
}
.animation-slide-left-to.animating,
.animation-slide-right-to.animating {
  opacity: 1;
  margin-left: 0;
}
.animation-slide-parent {
  position: relative;
  overflow-x: hidden;
}