<!DOCTYPE html>
	<meta charset="utf-8">

	<!-- メインコンテンツ -->
	<div class="finish-root contents-root">	
		<div class="massage-information-panel success">
			<i class="wap-icon-checkmark wap-icon"></i>
			<div class="message-information-text">
				<span class="main-text">申請が完了しました</span>
			</div>
		</div>

		<div class="page-content-panel">
			<div class="panel-area-segment">
				<div class="submit-destination-row">
					<img class="img-circle img-48" alt="" src="../../common/images/user/5349.jpg">
					<span class="submit-destination-name font-size-l">木下 順</span><span>さんに申請をしました</span>
				</div>
				<div class="submit-destination-row">
					<div class="btn-group">
						<button class="btn-primary btn"><i class="wap-icon-print"></i>申請書を印刷</button>
						<button class="btn-primary btn caret-btn"><i class="wap-icon-caret-down"></i></button>
					</div>
					<button class="btn-default btn"><i class="wap-icon-envelope"></i></button>
					<button class="btn-default btn"><i class="wap-icon-share"></i></button>
				</div>
			</div>
		</div>
	</div>
	